@media (max-width: 1173px) {
    body {
        main {
            padding-block: 3%;
        }

        main .container {
            grid-template-areas:
                "daniel" "jonathan" "jeanette" "patrick" "kira";
            grid-template-columns: minmax(310px, 500px);
            justify-content: center;
            align-items: center;
        }
    }
}