:root {
    --primary-violet: hsl(263, 55%, 52%);
    --primary-dark-grayish-blue: hsl(217, 19%, 35%);
    --primary-dark-grayish-blue-50: hsla(217, 19%, 35%, 0.5);
    --primary-dark-grayish-blue-70: hsla(217, 19%, 35%, 0.7);
    --primary-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --neutral-light-gray: hsl(0, 0%, 81%);
    --neutral-light-gray-50: hsla(0, 0%, 81%, 0.5);
    --neutral-light-gray-70: hsla(0, 0%, 81%, 0.7);
    --neutral-light-grayish-blue: hsl(210, 46%, 95%);
}